$normalWidth: 1200px;

// 颜色区域
$colors1: #282828;
$colors2: #cccccc;
$colors3: #23527C;
$colors4: #999999;
$colors5: #484848;
$colors6: #F2F2F2;
$colors7: #4C4C4C;
$colors8: #20a0ff;
$colors9: #FF671B;

// 字号区域
$fontSize12: 12px;
$fontSize14: 14px;

// 外边距---下
$mb10: 10px;
