@import '../../utils/scss/common.scss';

.header{
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  background: $colors6;
  position: fixed;
  top: 0;
  left: 0;

  &-module{
    width: $normalWidth;
    height: 40px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 0 20px;
  }
  &-left{
    display: flex;
    height: 100%;
    align-items: center;
    color: $colors7;
    font-size: $fontSize14;

    &__userinfo{
      display: flex;

      &_name{
        color: $colors9;
        cursor: pointer;
        padding: 0 10px;
      }
      &_click{
        cursor: pointer;
        margin-left: 10px;

        &:hover{
          color: $colors8;
        }
      }
    }
  }
  &-right{
    display: flex;
    height: 100%;
    align-items: center;
    color: $colors7;
    font-size: $fontSize14;

    &_bar{
      margin-left: 20px;
      cursor: pointer;

      &:hover{
        color: $colors8;
      }
    }
    &__service{
      margin-left: 20px;

      &_phone{
        color: $colors9;
        margin-left: 4px;
      }
    }
  }
}